# Top-most EditorConfig file
root = true

# Global settings
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript and TSX files
[*.ts]
indent_size = 2

# JavaScript and JSX files
[*.js]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Styles
[*.css]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Ignore some files
[**.log]
charset = latin1

# Ignore minified files
[**.min.js]
[**.min.css]

